.main-body ul, li, a, i, img, button
{
  transition:all 0.3s ease-out 0s;
  -moz-transition:all 0.3s ease-out 0s;
  -webkit-transition:all 0.3s ease-out 0s;
}
strong
{
  color:#000;
}
body
{
  margin:0px !important;
}
h1,h2,h3,h4,h5,h6
{
  font-family: "Time New Roman";
}
.main-body a:hover,.main-body a
{
  text-decoration: none !important;
}
.main-body
{
  background-color: #fff !important;
}
/*
========== HEADER =============
*/
.library-header
{
  float:left;
  width:100%;
  position:absolute;
  z-index:200;
  left:0px;
  top:0px;
}
.library-header .header-container
{
  float:left;
  width:100%;
  position: relative;
  background-color: #00bfff;
}
.library-header .logo
{
  padding: 0px;
  position: relative;
  width: 100%;
  margin: 20px 20px;
}
.library-header .menu
{
  float:left;
  width:100%;
  position: relative;
  background-color: #00bfff;
}
.library-header .top-menu
{
  float:left;
  width:100%;
  padding:10px 0px;
  color: #fff;
}
.library-header .top-menu .site_info
{
  float:left;
}
.library-header .top-menu .user
{
  float:right;
  margin-right: 10px;
}
.library-header .top-menu .user ul
{
  list-style: none;
  margin: 0;
}
.library-header .top-menu .user ul li
{
  position: relative;
  float:right;
}
.library-header .top-menu .user ul li:before
{
  content:"";
  height:0px;
  width:20%;
  left:0px;
  top:100%;
  background-color:#fff;
  bottom:0px;
  right:0px;
  margin:2px 0 0 0;
  position:absolute;
  transition:all 0.3s ease-out 0s;
  -moz-transition:all 0.3s ease-out 0s;
  -webkit-transition:all 0.3s ease-out 0s;
}
.library-header .top-menu .user ul li:hover:before
{
  height: 3.5px;
  width: 90%;
  background-color: #ccffcc;
}
.library-header .top-menu .user a
{
  margin-right: 10px;
  color: #fff;
}
.library-header .main-menu
{
  float:left;
  width:100%;
  background-color:#fff;
}
.library-header .main-menu ul
{
  float:left;
  width:100%;
  list-style:none;
  margin:0px
  background: #fff;
  padding:0px;

}
.library-header .main-menu ul li
{
  float:left;
  position:relative;
  margin:0px ;
}
.library-header .main-menu>ul>li
{
  float:left;
  position:relative;
  margin: 0 0-10px 0 ;

}
.library-header  .main-menu>ul>li>a{
  color:#666;
  padding:25px 18px;
  text-transform:uppercase;
  display:block;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  color:#262626;
  background-color: #fff;
}
.library-header  .main-menu ul li:before
{
  content:"";
  height:0px;
  width:20%;
  left:0px;
  top:100%;
  background-color:#00bfff;;
  bottom:0px;
  right:0px;
  margin:auto;
  position:absolute;
  transition:all 0.3s ease-out 0s;
  -moz-transition:all 0.3s ease-out 0s;
  -webkit-transition:all 0.3s ease-out 0s;
}
.library-header .main-menu ul li:hover:before{
  height:5px;
  width:100%;
}
.library-header .main-menu>ul>li:after
{
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 7px 5px;
  border-color: transparent transparent #00bfff transparent;
  position:absolute;
  left:0px;
  right:0px;
  margin:auto;
  bottom:0px;
  opacity:0;
}
.library-header .main-menu ul li:hover:after
{
    opacity:1;
}
.library-header .main-menu ul ul
{
  border-top:solid 5px;
  box-shadow:0px 5px 5px 0px rgba(0,0,0,0.3);
  background-color:#fff;
  position:absolute;
  left:0px;
  top:102%;
  z-index:100;
  visibility:hidden;
  opacity:0;
  margin:20px 0px 0px 0px !important;
  min-width:250px;
  border-bottom: solid 5px #00bfff;
  border-top: solid 5px #00bfff;
  padding:5px;

}
.library-header .main-menu ul li.last ul
{
    right: 0px;
    left: auto;
}
.library-header .main-menu ul li:hover > ul
{
   opacity:1;
   visibility:visible;
   margin:-1px !important;
}
.library-header .main-menu ul ul li
{
  float:left;
  width:100%;
  margin:2.5px 0px;
  padding: 0px;
}
.library-header .main-menu ul ul li:hover:before
{
    display: none;
}
/*.main-menu ul ul li:hover
{
  background-color: #00bfff;
  color:#fff;
}*/

.library-header .main-menu ul ul li a{
  display: block;
  width: 100%;
  padding:10px 15px;
  text-transform:capitalize;
  font-size:15px;
  font-weight:400;
  /*//padding-right:50px;*/
  background-color: #fff;
}
.library-header .main-menu ul ul li a:hover{
  background-color:#00bfff;
  color:#fff;
}
/*============END HEADER==============*/
/*#slider {
    min-height: 450px;
    min-width: 100%;
}*/
slider img {
    max-height: 450px;
    min-width: 100%;
}
#slider > .carousel-indicators > .active {
    background-color: #00bfff;
}
#slider .carousel-caption {
    color: #fff;
    right: 50%;
    text-align: center;
    max-width: 500px;
    left: auto;
    /*top: auto;*/
  /*position: relative;*/
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.item {
    -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  }
/*
=============================================
            CONTENT
=============================================
*/
.library-content
{
  float:left;
  margin:0px;
  width: 100%;
  padding: 0px;
  background-color: #fff;
}
.library-content h2
{
  position: relative;
  float:left;
}
.library-content .link-heading
{
  margin-top: 20px;
  position: relative;
  float:right;
}
.news-content
{
  float:left;
  width: 100%;
  background-color: #ddd;

}
.news-content .section-heading h2
{
  color: #b4330c;
  padding: 7px 25px;
  background-color: #fff;
  border-radius: 30px;
}
.news-content .library-news
{
  height: 450px;
  width: 100%
  float:left;
  background-color:#000;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  border-bottom: 2px solid #00bfff;
}
 .news-content .library-news img
{
 width: 100%;
 height: 250px;
}
.news-content .library-news .library-btn
{
  position: absolute;
  z-index: 100;
  top:  -10%;
  left: 0px;
  width: 100%;
  text-align: center;
  margin-top: -10px;
  opacity: 0;
  color: #fff;
  font-size: 1em;
  transition:all 0.3s ease-out 0s;
  -moz-transition:all 0.3s ease-out 0s;
  -webkit-transition:all 0.3s ease-out 0s;
}
.library-btn a
{
  color:#fff;
  line-height: 34px;
}
.library-btn a i
{
  border:solid 1px #fff;
  height:36px;
  width:36px;
  display:inline-block;
  border-radius:100%;
  color:#fff;
  line-height: 34px;
}
.library-btn a:hover i
{
  background-color: #00bfff;

}
.news-content .library-news:hover
{
    border: 3px solid #b3f0ff;
    box-shadow:0px 10px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow:0px 10px 20px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow:0px 10px 20px 0px rgba(0,0,0,0.3);
}
.news-content .library-news:hover .library-btn
{
  top:25%;
  opacity: 1;
}
.news-content .library-news:hover .library-btn a
{
  color: #fff;
}
.news-content .library-news:hover img
{
   opacity:0.3;
  -webkit-transform:scaleX(1.1); /* Safari and Chrome */
  -moz-transform:scaleX(1.1); /* Firefox */
  -ms-transform:scaleX(1.1); /* IE 9 */
  -o-transform:scaleX(1.1); /* Opera */
  transform:scaleX(1.1);
}
.news-content .library-news .title-news
{
  position:relative;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
  float: left;
  padding:5px;
  height: 100%;
  margin: 0px;
  border: none;
}
.news-content .library-news .title-news  h3
{
  color:#004175;
  margin-top: 10px;
}
.news-content .library-news:hover .title-news h3
{
  color: #00bfff;
}
.news-content .library-news .title-news .title-news-time
{
  position: absolute;
  color: #a3a375;
  margin-bottom: -2px;
}
/*
=============================================
            BOOK-NEW
=============================================
*/
.book-content
{
  float:left;
  width: 100%;
  background-image: url(img/booknew.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.book-content:before
{
  content:"";
  height:100%;
  width:100%;
  background-color:rgba(1,0,1,0.5);
  position:absolute;
  left:0px;
  top:0px;

}
.book-content .section-heading h2
{
  color:#00bfff;
  padding: 7px 25px;
  background-color: #ffc;
  border-radius: 30px;
}
.book-content .nav-tabs
{
  width: 50%;
  float:right;
  text-align: center;
  border: 0px;
  margin-bottom: 30px;
}
.book-content .nav-tabs > li
{
  margin-top: 24px;

}
.book-content .nav-tabs >li > a
{
  display:block;
  font-size:14px;
  font-weight:bold;
  margin:0px;
  border-radius: 5px;
  border: 1px solid #00bfff;
  padding:4px;
  float:left;
}
.book-content .nav-tabs >li.active>a
{
  background-color: #bf80ff;
}
.book-content .nav-tabs >li.active>a:focus
{
  background-color: #bf80ff;
}
.book-content .nav-tabs >li.active>a:hover
{
  background-color: #bf80ff;
}
.book-content .nav-tabs >li > a img
{
  width: 145px;
  height: 200px;

}
.book-content .tab-content
{
  width: 47%;
  float:left;
  text-align:left;
  border:none;
  float:right;
  color: #fff;
  padding: 15px 15px;
  border: 1px solid #00bfff;
  border-radius: 5px;
  margin-left: 3% auto;;
  margin-bottom:50px;
  padding-bottom: 30px;


}
.book-content .tab-content img
{

  margin-top: 15px;
  width: 100%;
  height: 420px;

}

/*
=============================================
           FOOTER
=============================================
*/
.main-library-footer
{
  float:left;
  padding: 30px;
  width: 100%;
  background-color: #669999;
  color: #fff;
}
.main-library-footer h5 i
{
  color:#00ffff;
}
.main-library-footer .copyright_footer
{
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
/*
=============================================
            STYLE-HEADER SECTION
=============================================
*/
.section-heading
{
  float:left;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  position: relative;
}
.section-heading h2
{
  font-size:1.75em;
  text-align:left;;
  /*font-family: 'Raleway', sans-serif;*/
  text-transform:capitalize;
}
/*
=============================================
            LOGIN FORM SECTION
=============================================
*/
@media (min-width: 800px) {
  .modal-dialog {
    width: 600px;
    margin: 80px auto;
  }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
.input-icon i
{
  color: #99CD4E;
  padding:10px 17px;
}
.modal-content
{
  opacity:1;
  border-radius: 15px;
}
.btn-green
{
  color: #ffffff;
  background-color: #1BD529;
}
.btn-green:hover
{
  color: #00bfff;
  background-color: #1BD510;
}
